<div class="row">
    <div class="col-md-3">
        <a th:href="@{/application/new}">
            <div align="center" class="well">
                <h3 class="glyphicon glyphicon-play"></h3>
                <h4>New App</h4>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a th:href="@{/profile}">
            <div align="center" class="well">
                <h3 class="glyphicon glyphicon-user"></h3>
                <h4>Profile</h4>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#">
            <div align="center" class="well">
                <h3 class="glyphicon glyphicon-cloud"></h3>
                <h4>You're Cloud</h4>
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a href="#">
            <div align="center" class="well">
                <h3 class="glyphicon glyphicon-question-sign"></h3>
                <h4>FAQ</h4>
            </div>
        </a>
    </div>
</div>