<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="/"><img src="../../img/logo2.jpg"
                                                                   alt="BaaSinga"/></a>
                </li>
                <li class="active">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/insert" th:href="@{/insert}">Insert test data</a>
                </li>
                <li>
                    <a href="/generate" th:href="@{/generate}">Generate Example</a>
                </li>
                <li>
                    <a href="/build/application" th:href="@{/build/application}">Build you're App</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
