<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="${error}"></div>
                <div th:if="${success != null}" class="alert alert-success" role="alert" th:text="${success}"></div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div th:include="application/appForm"></div>
    </div>
</div>