<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Application details</h1>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a th:href="@{/application/{id}/(id=${originalApp.id})}">
                    <div align="center" class="well">
                        <h3 class="glyphicon glyphicon-open"></h3>
                        <h4>New version</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#">
                    <div align="center" class="well">
                        <h3 class="glyphicon glyphicon-minus-sign"></h3>
                        <h4>Delete app</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Version history</div>
                    <div class="panel-body">
                        <table align="center" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Security enabled</th>
                                <th>Cloud hosting</th>
                                <th>version</th>
                                <th>Models</th>
                                <th>Description</th>
                                <th>Docker</th>
                                <th>War</th>
                                <th>Source</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="app, appStat: ${applications}">
                                <td align="center">
                                    <a th:href="@{/application/details/{appId}/history/{historyId}/(appId=${originalApp.id}, historyId=${app.id})}"
                                       th:text="${app.name}"></a>
                                </td>
                                <td align="center">
                                    <h3 class="glyphicon glyphicon-ok-circle" th:if="${app.secEnabled}"></h3>

                                    <h3 class="glyphicon glyphicon-remove-circle"
                                        th:unless="${app.secEnabled}"></h3>
                                </td>
                                <td align="center">
                                    <h3 class="glyphicon glyphicon-ok-circle" th:if="${app.cloudEnabled}"></h3>

                                    <h3 class="glyphicon glyphicon-remove-circle"
                                        th:unless="${app.cloudEnabled}"></h3>
                                </td>
                                <td align="center">
                                    <a href="">
                                        <div class="badge" th:text="${app.version}"></div>
                                    </a>
                                </td>
                                <td align="center">
                                    <div class="badge" th:text="${app.getModels().size()}"></div>
                                </td>
                                <td align="center">
                                    <p th:text="${app.description}"></p>
                                </td>
                                <td align="center">
                                    <div class="badge">not available</div>
                                </td>
                                <td align="center">
                                    <div class="badge">not available</div>
                                </td>
                                <td align="center">
                                    <div class="badge">not available</div>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <a th:href="@{/application/details/{appId}/original/{originalId}/(appId=${originalApp.id}, originalId=${originalApp.id})}"
                                       th:text="${originalApp.name}"></a>
                                </td>
                                <td align="center">
                                    <h3 class="glyphicon glyphicon-ok-circle" th:if="${originalApp.secEnabled}"></h3>

                                    <h3 class="glyphicon glyphicon-remove-circle"
                                        th:unless="${originalApp.secEnabled}"></h3>
                                </td>
                                <td align="center">
                                    <h3 class="glyphicon glyphicon-ok-circle" th:if="${originalApp.cloudEnabled}"></h3>

                                    <h3 class="glyphicon glyphicon-remove-circle"
                                        th:unless="${originalApp.cloudEnabled}"></h3>
                                </td>
                                <td align="center">
                                    <a href="">
                                        <div class="badge" th:text="${originalApp.version}"></div>
                                    </a>
                                </td>
                                <td align="center">
                                    <div class="badge" th:text="${originalApp.getModels().size()}"></div>
                                </td>
                                <td align="center">
                                    <p th:text="${originalApp.description}"></p>
                                </td>
                                <td align="center">
                                    <a href=""><img width="25px" height="25px" th:src="@{/img/docker-icon-bw.png}"/></a>
                                </td>
                                <td align="center">
                                    <a href=""><h3 class="glyphicon glyphicon-compressed"></h3></a>
                                </td>
                                <td align="center">
                                    <a href=""><h3 class="glyphicon glyphicon-folder-open"></h3></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div th:include="application/details/timeline"></div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Details</div>
                    <div class="panel-body">
                        <p th:if="${detailApp} == null">Please select a version by clicking on the name to see detailed
                            information!</p>

                        <div th:if="${detailApp} != null">
                            <h4>Application:</h4>

                            <p th:text="'Name: ' + ${detailApp.name}"></p>

                            <p th:text="'Description: ' + ${detailApp.description}"></p>

                            <p th:text="'Created: ' + ${detailApp.createdAt}"></p>
                            <h4>Models:</h4>
                            <table align="center" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Attributes</th>
                                    <th>Relations</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="model,modelStat : ${detailApp.models}">
                                    <td align="center">
                                        <p th:text="${model.name}"></p>
                                    </td>
                                    <td align="center">
                                        <p th:each="attribute,attributeStat : ${model.attributes}"
                                           th:text="${attribute.name} + ' '"></p>
                                    </td>
                                    <td align="center">
                                        <div th:each="relation,relationStat : ${model.relations}">
                                            <p th:text="${relation.relationType} + ' ' + ${detailApp.models[__${relation.child}__].name}"></p>
                                            <br/>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>