<div class="section">
    <div class="container">
        <!-- Call to Action Bar -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="${error}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div style="margin-left:-5px;" class="service-wrapper">
                            <h2 th:text="${title}">Title</h2>
                            <br/>
                            <img th:src="@{/img/serviceicon/chat.png}" alt="Version control"/>
                            <h3>The development is still in progress, so please report bugs to <a
                                    href="mailto:vs@stroodel.com">vs@stroodel.com</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Call to Action Bar -->
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img th:src="@{/img/serviceicon/diamond.png}" alt="Data Modeler"/>

                    <h3>Create an API</h3>

                    <p>With BaaSinga you can create you're own API in minutes. This is done by designing you're data
                        model using our new tool! In addition you can
                        decide to secure you're API!</p>
                    <a href="/signup" name="" class="btn">Try it now!</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img th:src="@{/img/serviceicon/ruler.png}" alt="Version control"/>

                    <h3>Full version control</h3>

                    <p>BaaSinga keeps track of you're changes and gives you easy access to older versions of you're API.
                        You can switch between versions as often as you want!
                        <br/>
                    </p>
                    <a href="/signup" class="btn">Try it now!</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="service-wrapper">
                    <img th:src="@{/img/serviceicon/box.png}" alt="Service 3"/>

                    <h3>Running you're application</h3>

                    <p>BaaSinga supports several deployment solutions to fit you're needs! Download you're service as
                        source code, docker container or war archive!</p>
                    <!--
                    <br/>
                        Download the source code (Java) and continue developing it on you're ow.n<br/>
                        Download a docker container which allows you to have you're service up and running within minutes.<br/>
                        Download a WAR archive file and host you're app with any application server you like (TomCat, JBoss, WebSphere etc.)
                        -->
                    <a href="/signup" class="btn">Try it now!</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="service-wrapper">
                    <h2>Log in</h2>
                    <br/>

                    <form role="form" th:action="@{/j_spring_security_check}" method="post">
                        <div class="form-group">
                            <label for="username"><i class="icon-user"></i> <b>Email</b></label>
                            <input class="form-control" required="required" th:name="username" id="username" type="text" placeholder=""/>
                        </div>
                        <div class="form-group">
                            <label for="password"><i class="icon-lock"></i> <b>Password</b></label>
                            <input class="form-control" required="required" th:name="password" id="password" type="password"
                                   placeholder=""/>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <br/>

                        <div class="form-group">
                            <button type="submit" class="btn pull-right">Login</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="service-wrapper">
                    <h2>Sign up now</h2>
                    <br/>
                    <form role="form" th:action="@{/signup}" th:object="${register}" method="post">
                        <div class="form-group">
                            <label for="register-username"><i class="icon-user"></i> <b>Email</b></label>
                            <input class="form-control" required="required" th:field="*{email}" id="register-username" type="text"
                                   placeholder=""/>
                        </div>
                        <div class="form-group">
                            <label for="register-password"><i class="icon-lock"></i> <b>Password</b></label>
                            <input class="form-control" required="required" th:field="*{password}" id="register-password"
                                   type="password"
                                   placeholder=""/>
                        </div>
                        <div class="form-group">
                            <label for="register-password2"><i class="icon-lock"></i> <b>Re-enter
                                Password</b></label>
                            <input class="form-control" required="required" th:field="*{passwordConfirm}" id="register-password2"
                                   type="password" placeholder=""/>
                        </div>
                        <div class="form-group">
                            <button type="submit" name="register" class="btn pull-right">Register</button>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>